body{
  font-family: "League Spartan", sans-serif;
}

/* .page-footer-section {
  width: 30%;
} */
/* need to select media querys per for screen sizes */

/* @media (max-width: 978px) {
  .container {
    padding:0;
    margin:0;
  }
} */

/* @media (min-width: 1000px) {
  .container {
    width: 550px;
  }
} */

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}