.total-content {
  min-height: 450vh;
}

.container {
  width: 70%;
}

.temp-hide {
  visibility: hidden;
}

.intro-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

#header-intro {
  font-family: "Permanent Marker", sans-serif;
  font-size: 5vw;
}

#p-intro {
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
}

section {
  padding-top: 10%;
  padding-bottom: 10%;
}

.other-projects{
  padding-top: 10%;
}

.card{
  margin:2%;
}


.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}


.lights{
  opacity: 0.2;
}


/*email button*/

.email-button{
  margin: 1rem;
}


h2{
  text-align: center;
}
